.rotating-text-wrapper {
    display: flex;
    align-items: center;
    gap: 0.7em;
    justify-content: flex-start;
    width: 450px;
    cursor: default;
}

.rotating-text-prefix {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.rotating-text-container {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    background-color: rgb(59 130 246);
    position: relative;
    min-width: 0;
    box-shadow:
        4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        2px 2px 4px -1px rgba(0, 0, 0, 0.1);
}

/* Dark mode shadow - darker shadow with subtle blue glow */
/* .dark .rotating-text-container {
    box-shadow:
        0 4px 6px -1px rgba(0, 0, 0, 0.5),
        0 2px 4px -1px rgba(0, 0, 0, 0.5),
        0 0 20px rgba(59, 130, 246, 0.7);
} */

.rotating-text-inner {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
}

.rotating-text-character {
    display: inline-block;
    overflow: hidden;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
}
