.rotating-text-wrapper {
    display: flex;
    align-items: center;
    gap: 0.7em;
    justify-content: flex-start;
    width: 400px;
    cursor: default;
    /* background-color: red; */
}

.rotating-text-prefix {
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.rotating-text-container {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    background-color: rgb(59 130 246);
    position: relative;
    min-width: 0;
}

.rotating-text-inner {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
}

.rotating-text-character {
    display: inline-block;
    overflow: hidden;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
}
